body{
    background-color: rgb(0, 0, 33);
    color : white;
    margin : 0px;
}


nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 60px;
    background-color: rgb(18,18,62);
    padding-top:0px;
    padding: 0px;
}

nav ul
{
    display: flex;
    justify-content: center;
}

nav ul li
{
    list-style: none;
    margin : 0 23px;
} 

nav ul li a
{
    text-decoration: none;
    color: white;
}

nav ul li a.active
{
    
    background-color: rgb(42, 42, 98);
    padding-top:2px;
    padding-bottom:2px;
    padding-left:5px;
    padding-right:5px;
    border-radius: 10%;

}

nav ul li a:hover
{
    color: rgb(153, 153, 226);
    font-size: 1.51rem;
}

.left
{
    font-size: 2rem;
    margin-left:115px;
}

.right
{
    font-size: 1.5rem;
}

.firstsection
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftsection
{
    margin-top:200px;
    margin-left:-35px;
    font-size: 2.5rem;
    
}


.rightsection
{
    margin-top:45px;
    margin-left:-120px;
    font-size: 2.5rem;
}

.about-title
{
    font-size: 2.5rem;
    margin-top:320px;
    margin-left:115px;
    animation-duration: 1s;
    animation-name: s;

}

.about-title2
{
    font-size: 2.5rem;
    margin-top:50px;
    margin-left:115px;
    animation-duration: 1s;
    animation-name: s;
    margin-bottom:10px;

}

.about-title3
{
    font-size: 2.5rem;
    margin-top:200px;
    margin-left:115px;
    animation-duration: 1s;
    animation-name: s;
    margin-bottom:10px;

}



@keyframes s
{
    from
    {
        margin-left: 300px;
    }
    to
    {
        margin-left:115px;
    }
}

.para
{
    font-size: 1.5rem;
    margin-top:60px;
    margin-left:115px;
    margin-bottom:10px;
    
}

.para2
{
    margin-top:20px; 
    margin-left:115px; 
    padding:0px; 
    font-size:1.5rem;    
}

.contact-icons {
    display: flex;
    gap: 60px;         
    margin-left: 115px;
    margin-top: 50px;
}


.contact-icons a {
    text-decoration: none;
    color: white;
}

.contact-icons i {
    font-size: 40px;
    transition: 0.3s;
}

.contact-icons i:hover {
    color: rgb(206, 68, 206);
    transform: scale(1.2);
}

.project-link:hover
{
    color:rgb(187, 38, 187);
}

